main.out
main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
main.pdf
main.bbl
main.bcf
main.run.xml
finals_thesis.aux
finals_thesis.fdb_latexmk
finals_thesis.fls
finals_thesis.log
finals_thesis.out
finals_thesis.synctex.gz
.gitignore
pdflatex23664.fls
credit.out
credit.synctex.gz
credit.log
credit.fls
credit.fdb_latexmk
credit.aux
finals_thesis.blg
finals_thesis.bcf
finals_thesis.bbl
finals_thesis.run.xml
finals_thesis.ilg
finals_thesis.idx
main.idx
main.ilg
finals_thesis.newpax
main.newpax
pdflatex7144.fls
odplist.aux
odplist.dvi
odplist.fdb_latexmk
odplist.fls
odplist.log
odplist.synctex.gz
credit.bbl
credit.bcf
credit.idx
credit.run.xml
